<div class="row">
    <div class="col-sm-4" *ngFor="let country of countries">
        <div [routerLink]="['/countryDetail/', country.countryId]" class="card mb-3"
            style="background-color: limegreen; color: white;">
            <button class="btn btn-sm" style="background-color: limegreen; color: white;">

                <div class="card-body">
                    <h5 class="card-title">{{country.name}}</h5>
                    Capital
                    <p class="card-text">{{country.capital}}</p>
                </div>
            </button>

        </div>
    </div>
</div>