<div>
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{country.name}}</h5>
                <p class="card-text">Capital: {{country.capital}}</p>
                <p class="card-text">Area: {{country.area}}</p>
                <p class="card-text">Population: {{country.population}}</p>
                <p class="card-text">GDP: {{country.gdp}}</p>
                <p class="card-text">Currency: {{country.currency}}</p>
                <a routerLink="/allCountries">
                    <button class="btn btn-danger">Go Back</button>
                </a>
            </div>
        </div>
    </div>
</div>