<h5 style="text-align: center; margin-top: 75px;color: grey;">Fun Facts About Countries</h5>
<ul class="nav justify-content-center" style="margin: 10px;">
    <li class="nav-item">
        <a routerLink="/home" rounterLinkActive="active" class="btn btn-dark btn-sm">
            Go Back to Homepage
        </a>
    </li>
    <li class="nav-item">
        <a routerLink="/allCountries" rounterLinkActive="active" class="btn btn-dark btn-sm">
            List of all Countries
        </a>
    </li>
</ul>